
.icono {
    width: 15%; /* Ajusta el tamaño según tus necesidades */
    height: auto; /* Mantiene la proporción de la imagen */
}

header{
    background-color: #a2caea;
    padding: 1% 1%;
}
nav{
    padding-left: 8%;
}
#tarjeta{
    background-color:#e9ecef;
}
p {
    text-align: justify;
}
footer{
    position: fixed;
    bottom: 0;
    width: 100%;

}

  
